@use '../base';

// STANDARD BUTTON
.btn {
  background-color: base.$color-twitter-blue;
  opacity: 0.5;
  font-weight: 600;
  color: white;
  border-radius: 50px;

  margin-left: auto;
  padding: 0.5rem .9rem;
}