@use '../base';
@use '../mixins';

// WHATSHAPPENING 
.wh {
  display: none;

  @include mixins.tabletS(){
      display: flex;
  }

  &__input {
      width: 12rem;
      height: 48px;

      &::placeholder{
          font-size: 1.2rem;
          font-weight: 400;
      }
  }

  &__buttons {
      @include mixins.flex(row, nowrap, flex-start, center);
      gap: 1rem;
  }

  &__btn {
      & .icon {
          width: 19px;
          height: 19px;
          fill: base.$color-twitter-blue;
      }
  }
}