@use "base";

// Mixins
@mixin flex($flow: row, $wrap: nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow $wrap;
    justify-content: $justify;
    align-items: $align;
}

// Variables
$border: 0.5px solid
    rgba(
        $color: #000000,
        $alpha: 0.1,
    );

button {
    cursor: pointer;
}

.header {
    width: 100%;
    background-color: rgba(base.$color-bg, 0.8);

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;

    &__container {
        height: 50px;
        width: 390px;

        padding: 0.6rem 0.9rem;
        margin: 0 auto;

        @include flex(row, nowrap, space-between, center);
        gap: 1.5rem;
        position: relative;
    }

    & .header__img {
        width: 30px;
        height: 30px;
    }

    &__stars {
        width: 19px;
        height: 19px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.1em;
        font-weight: 600;

        flex-grow: 1;
    }
}

.show-tweets {
    width: 390px;
    margin: 50px auto 0;

    &__btn {
        width: 100%;
        border-top: $border;
        cursor: pointer;

        padding: 0.9rem 0;
    }

    &__span {
        font-weight: 500;
        color: base.$color-twitter-blue;
    }
}

.feed {
    max-width: 390px;

    margin: 0 auto;

    @include flex(column, nowrap, flex-start, center);
    // position: relative;
}

// TWEET VIEW
.tweet-view {
    padding: 0 0.9rem;
    &__header {
        width: 100%;

        padding: 0.6rem 0;

        @include flex(row, nowrap, flex-start, center);
        gap: 2.1rem;
    }

    &__go-back {
        & .icon {
            height: 19px;
            width: 19px;
        }
    }

    &__h2 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__open-app {
        font-size: 0.8rem;
        font-weight: 600;
        border: 1px solid rgb(207, 217, 222);
        border-radius: 50px;

        padding: 0.4rem 1rem;
        margin-left: auto;
    }

    &__main {
    }

    &__tweet {
    }

    &__comments {
    }
}

// TWEET VIEW -> TWEET DETAIL
.t-detail {
    &__header {
        padding: 0.5rem 0;

        @include flex(row, nowrap, flex-start, center);
        gap: 0.6rem;

        & .dots {
            align-self: flex-start;
        }
    }

    &__profile-info {
        width: 100%;
        @include flex(row, nowrap, space-between, center);
        gap: 0.1rem;
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__media {
    }

    &__data {
        padding: 1rem 0;
        border-bottom: $border;
    }

    &__counters {
        padding: 1rem 0;
        border-bottom: $border;
    }

    &__counter {
        margin-right: 1.1rem;
    }

    &__interaction {
        border-bottom: $border;

        padding: 0.8rem 0;

        & .tweet__buttons {
            margin-top: 0;

            justify-content: space-around;
        }

        & .tweet__icon .icon {
            width: 21px;
            height: 21px;
        }
    }
}

.profile-info {
    &__name {
        font-weight: 600;

        @include flex(row, nowrap, flex-start, center);
    }
}

// TWEET VIEW -> TWEETCOMMENTS

.t-comments {
    &__reply {
        width: 100%;
        border-bottom: $border;

        padding: 0.7rem 0;

        @include flex(row, nowrap, flex-start, center);
        gap: 1rem;
    }

    &__input {
        &::placeholder {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    &__reply-btn {
        background-color: base.$color-twitter-blue;
        opacity: 0.5;
        font-weight: 600;
        color: white;
        border-radius: 50px;

        margin-left: auto;
        padding: 0.5rem 1rem;
    }

    &__comments-container {
    }
}

.nav {
    background-color: base.$color-bg;
    width: 100%;

    position: fixed;
    bottom: 0;

    &__a {
        width: calc(390px / 4);
        padding: 0.8rem;

        position: relative;
    }

    &__icon--notification:after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: base.$color-twitter-blue;

        position: absolute;
        top: -3.5px;
        left: 70%;
    }

    &__icon {
        width: fit-content;
        height: fit-content;

        margin: 0 auto;

        position: relative;
    }

    &__icon .icon {
        height: 24.5px;
        width: 24.5px;
    }

    &__li {
        // position: relative;
    }

    &__ul {
        width: 390px;
        border-top: $border;

        margin: 0 auto;

        position: relative;
        @include flex(row, nowrap, center, center);
    }
}
