@use 'base';

// Mixins
@mixin flex($flow: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin tabletS() {
  @media screen and (min-width: 500px) and (min-height: 640px){
      @content;
  }
}

@mixin bgHeader () {
  background-color: rgba(base.$color-bg, 0.8);
  backdrop-filter: blur(10px);

  @include base.darkMode {
    background-color: base.$color-bg-dark;
  }
}