@use "layout";
@use "base";

// PROFILE PICS
.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

// NEW TWEET BUTTON
.new-tweet {
    height: 53px;
    width: 53px;
    background-color: base.$color-twitter-blue;
    border-radius: 50%;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px,
        rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;

    position: fixed;
    bottom: 70px;
    right: 20px;

    & .icon {
        height: 23px;
        width: 23px;
        fill: white;

        margin: 0 auto;
    }
}

// DOTS BUTTON
.dots .icon {
    width: 17.5px;
    height: 17.5px;
    fill: base.$color-text-secondary;
}

// TWEET
.tweet {
    max-width: 1057;
    border-top: layout.$border;

    padding: 0.7rem 1rem;

    @include layout.flex(row, nowrap, center, flex-start);
    gap: 0.7rem;

    // LEFT
    &__left {
        height: 100%;
    }

    // LEFT END

    // MAIN
    &__main {
        @include layout.flex(column, nowrap, flex-start, flex-start);
        gap: 0.5rem;
    }

    // HEADER
    &__header {
        width: 100%;

        @include layout.flex(row, nowrap, space-between, center);
        gap: 0.5rem;
    }

    // TITLE
    &__title {
        @include layout.flex(row, nowrap, flex-start, center);
        gap: 0.2rem;
    }

    &__name {
        max-width: 6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-weight: 600;
    }

    &__verified .icon {
        width: 17.5px;
        height: 17.5px;

        fill: base.$color-twitter-blue;
    }

    @mixin titleSecondary {
        color: base.$color-text-secondary;
        font-weight: 500;
    }

    &__username {
        max-width: 6rem;
        white-space: nowrap;
        overflow-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;

        @include titleSecondary();
    }

    &__time {
        @include titleSecondary();

        @include layout.flex(row, nowrap, center, center);
    }

    &__time::before {
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: base.$color-text-secondary;

        margin: 0 0.3rem 0 0.1rem;
    }

    // TITLE END

    // HEADER END

    // CONTENT
    &__content {
        @include layout.flex(column, nowrap, flex-start, flex-start);
        gap: 1rem;
    }

    &__gallery {
        width: 300px;
        height: 170px;
        border-radius: 15px;
        overflow: hidden;

        display: grid;
        gap: 2px;
    }

    &__gallery--2 {
        grid-template-columns: 50% 50%;
    }

    &__gallery--3 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    &__gallery--3 .tweet__image-g3:first-child {
        grid-row: 1 / 3;
    }

    &__gallery--4 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    &__image {
        max-height: 100%;
        object-fit: cover;
    }

    &__image-g1 {
        max-height: 400px;
        width: 300px;
        border-radius: 15px;
    }

    // CONTENT END

    // TWEET BUTTONS
    &__buttons {
        width: 100%;

        margin-top: 0.5rem;

        @include layout.flex(row, nowrap, space-between, center);
    }

    &__btn {
        @include layout.flex(row, nowrap, space-between, center);
        gap: 0.5rem;
    }

    &__count {
        font-size: 0.7rem;
        color: base.$color-text-secondary;
    }

    &__a {
        color: base.$color-twitter-blue;
        font-weight: 500;
    }

    &__icon {
    }

    &__icon .icon {
        width: 17.5px;
        height: 17.5px;

        fill: base.$color-text-secondary;
    }

    &__count {
    }

    // TWEET BUTTONS END
    // MAIN END
}

// TWEET BUTTONS
.tweet-comment {
    &__count {
    }
}

.tweet-like {
    &__count {
    }
}

.tweet-retweet {
    &__count {
    }
}

.tweet-share {
}

// IMAGE DETAIL GALLERY
.image-view {
    width: 390px;
    margin: 0 auto;
    background-color: rgb(167, 149, 127);

    @include layout.flex(column, nowrap, center, center);

    &__header {
        width: 100%;

        padding: 1.2rem;

        @include layout.flex(row, nowrap, space-between, center);
    }

    &__header .icon {
        height: 19px;
        width: 19px;
        fill: white;
    }

    &__close {
    }

    &__menu {
    }

    &__main {
        height: 100%;
        @include layout.flex(column, nowrap, center, center);
    }

    &__gallery {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;

        @include layout.flex(row, nowrap, flex-start, center);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__img {
        scroll-snap-align: center;

        flex: 0 0 auto;
    }

    &__footer {
        width: 100%;

        padding: 0.8rem 1.6rem;
    }

    &__footer .icon {
        width: 21px;
        height: 21px;
        fill: white;
    }

    &__footer .tweet__count {
        color: white;
        font-weight: 600;
    }
}
