/*
    RESET
*/
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@media (prefers-contrast: high) {
  :root {
    color: black;
    background-color: white;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
  /* optional */
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* optional */
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}

body {
  font-size: 0.9rem;
  font-family: "TwitterChirp", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  color: #000000;
  background-color: #ffffff;
  /* optional */
  /* optional */
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #000000;
  }
}

b {
  font-weight: 600;
}

button {
  cursor: pointer;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .app {
    max-width: 700px;
  }
}

.home {
  min-height: 100vh;
  width: 100%;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .home {
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.home__main {
  width: 100%;
  min-height: 100vh;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .home__main {
    border-left: 0.5px solid rgba(0, 0, 0, 0.1);
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
  }
}

.sidebar-nav {
  height: 100vh;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: none;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .sidebar-nav {
    display: flex;
  }
}
.sidebar-nav__container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.sidebar-nav__buttons .nav__a {
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 0.8rem;
}
.sidebar-nav__logo .nav__a {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.sidebar-nav__logo .nav__a .icon {
  width: 30px;
  fill: rgb(29, 155, 240);
}
.sidebar-nav__user .profile-pic {
  width: 38px;
  height: 38px;
  margin: 1.5rem auto;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}
@media (prefers-color-scheme: dark) {
  .header {
    background-color: #000000;
  }
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .header {
    width: 100%;
  }
}
.header__container {
  height: 50px;
  width: 100%;
  padding: 0.6rem 0.9rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}
.header .header__img {
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .header .header__img {
    display: none;
  }
}
.header__stars {
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.header__title {
  font-size: 1.1em;
  font-weight: 600;
  flex-grow: 1;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .header__title {
    font-size: 1.4em;
  }
}

.show-tweets__btn {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0.9rem 0;
}
.show-tweets__span {
  font-weight: 500;
  color: rgb(29, 155, 240);
}

.feed {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.tweet-view {
  padding: 0 0.9rem;
  min-height: 100vh;
}
.tweet-view__header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 0.6rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2.1rem;
  position: sticky;
  top: 0;
}
@media (prefers-color-scheme: dark) {
  .tweet-view__header {
    background-color: #000000;
  }
}
.tweet-view__go-back .icon {
  height: 19px;
  width: 19px;
}
.tweet-view__h2 {
  font-size: 1.1rem;
  font-weight: 600;
}
.tweet-view__open-app {
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  margin-left: auto;
}
.tweet-view .tweet {
  padding-left: 0;
  padding-right: 0;
}

.t-detail__header {
  padding: 0.5rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
.t-detail__header .dots {
  align-self: flex-start;
}
.t-detail__profile-info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
}
.t-detail__text {
  font-size: 1.4rem;
  font-weight: 400;
}
.t-detail__data {
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.t-detail__counters {
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.t-detail__counter {
  margin-right: 1.1rem;
}
.t-detail__interaction {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem 0;
}
.t-detail__interaction .tweet__buttons {
  margin-top: 0;
  justify-content: space-around;
}
.t-detail__interaction .tweet__icon .icon {
  width: 21px;
  height: 21px;
}

.profile-info__name {
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.t-comments__reply {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.7rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.t-comments__input::placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav {
  background-color: #ffffff;
  width: 100%;
  position: sticky;
  bottom: 0;
}
@media (prefers-color-scheme: dark) {
  .nav {
    background-color: #000000;
  }
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .nav {
    display: none;
  }
}
.nav__a {
  width: 25vw;
  padding: 0.8rem;
  position: relative;
}
.nav__icon--notification:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: rgb(29, 155, 240);
  position: absolute;
  top: -3.5px;
  left: 70%;
}
.nav__icon {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
}
.nav__icon .icon {
  height: 24.5px;
  width: 24.5px;
}
.nav__ul {
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.image-view {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(167, 149, 127);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.image-view__header {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.image-view__header .icon {
  height: 19px;
  width: 19px;
  fill: white;
}
.image-view__main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.image-view__gallery {
  max-height: 80vh;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.image-view__gallery::-webkit-scrollbar {
  display: none;
}
.image-view__img {
  max-height: 100%;
  scroll-snap-align: center;
  flex: 0 0 auto;
}
.image-view__footer {
  width: 100%;
  padding: 0.8rem 1.6rem;
}
.image-view__footer .tweet__icon .icon {
  width: 21px;
  height: 21px;
  fill: white;
}
.image-view__footer .tweet__count {
  color: white;
  font-weight: 600;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  background-color: rgb(29, 155, 240);
  opacity: 0.5;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  margin-left: auto;
  padding: 0.5rem 0.9rem;
}

.new-tweet {
  height: 53px;
  width: 53px;
  background-color: rgb(29, 155, 240);
  border-radius: 50%;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
  position: fixed;
  bottom: 70px;
  right: 20px;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .new-tweet {
    height: 48px;
    width: 48px;
    box-shadow: none;
    margin: 0.7rem auto;
    position: relative;
    bottom: inherit;
    right: inherit;
  }
}
.new-tweet .icon {
  height: 23px;
  width: 23px;
  fill: white;
  margin: 0 auto;
}

@media screen and (min-width: 500px) and (min-height: 640px) {
  .feed .new-tweet {
    display: none;
  }
}

.dots .icon {
  width: 17.5px;
  height: 17.5px;
  fill: rgb(81, 99, 114);
}

.tweet {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.7rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7rem;
}
.tweet__left {
  height: 100%;
  min-width: fit-content;
}
.tweet__main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.tweet__header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.tweet__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.tweet__name {
  max-width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.tweet__verified .icon {
  width: 17.5px;
  height: 17.5px;
  fill: rgb(29, 155, 240);
}
.tweet__username {
  max-width: 6rem;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(81, 99, 114);
  font-weight: 500;
}
.tweet__time {
  color: rgb(81, 99, 114);
  font-weight: 500;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.tweet__time::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(81, 99, 114);
  margin: 0 0.3rem 0 0.1rem;
}
.tweet__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.tweet__gallery {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 16/9;
  display: grid;
  gap: 2px;
}
.tweet__gallery--2 {
  grid-template-columns: repeat(2, 1fr);
}
.tweet__gallery--3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
}
.tweet__gallery--3 .tweet__image-g3:first-child {
  grid-row: 1/3;
}
.tweet__gallery--4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
}
.tweet__image {
  max-height: 100%;
  object-fit: cover;
}
.tweet__image-g1 {
  max-height: 400px;
  width: 100%;
  border-radius: 15px;
}
.tweet__reply {
  color: rgb(81, 99, 114);
}
.tweet__reply .tweet__a {
  display: inline;
}
.tweet__buttons {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.tweet__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.tweet__count {
  font-size: 0.7rem;
  color: rgb(81, 99, 114);
}
.tweet__a {
  color: rgb(29, 155, 240);
  font-weight: 500;
}
.tweet__icon .icon {
  width: 17.5px;
  height: 17.5px;
  fill: rgb(81, 99, 114);
}

.wh {
  display: none;
}
@media screen and (min-width: 500px) and (min-height: 640px) {
  .wh {
    display: flex;
  }
}
.wh__input {
  width: 12rem;
  height: 48px;
}
.wh__input::placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.wh__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.wh__btn .icon {
  width: 19px;
  height: 19px;
  fill: rgb(29, 155, 240);
}

/*# sourceMappingURL=style.css.map */
