@use 'base';
// Mixins
@mixin flex($flow: row, $wrap: nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow $wrap;
    justify-content: $justify;
    align-items: $align;
}

// Variables
$border:  .5px solid rgba($color: #000000, $alpha: .1);

.header {
    // border-bottom: $border;
    background-color: rgba(base.$color-bg, .8);
    
    backdrop-filter: blur(10px);

    
    position: fixed;
    top: 0;
    
    &__container {
        width: 100vw;
        height: 50px;
        
        padding: .6rem .9rem;

        @include flex(row, nowrap, space-between, center);
        gap: 1.5rem;
        position: relative;

    }

    &__img {
        max-width: 30px;
        border-radius: 50%;
        cursor: pointer;
    }

    &__stars {
        width: 19px;
        height: 19px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.1em;
        font-weight: 600;

        flex-grow: 1;
    }
}

.show-tweets {
    margin-top: 50px;

    &__btn {
        width: 100%;
        border-bottom: $border;
        cursor: pointer;

        padding: .9rem 0;
    }

    &__span {
        font-weight: 500;
        color: base.$color-twitter-blue;
    }
}

.feed {
}

.nav {
    border-top: $border;

    position: fixed;
    bottom: 0;
    &__a {
        width: 25vw;
        padding: .8rem;

        position: relative;
        
    }

    &__a--active:after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: base.$color-twitter-blue;

        position: absolute;
        top: 9px;
        left: 54px;
    }
    
    &__a .menu-icon {
        height: 24.5px;
        width: 24.5px;
        
        margin: 0 auto;
    }


    &__li {
        position: relative;
    }

    &__ul {
        width: 100vw;

        position: relative;

        @include flex(row, nowrap, center, center);
    }
}